<section class="advantages">
  <div class="advantages__items">
    <div class="advantages__items-single">
      <div class="icon virus"></div>
      <div class="text">
        <b>Уничтожает 99%</b><br>
        всех бактерий и вирусов
      </div>
    </div>
    <div class="advantages__items-single">
      <div class="icon mode"></div>
      <div class="text">
        <b>2 режима использования</b><br>
        экранированный и открытый
      </div>
    </div>
    <div class="advantages__items-single">
      <div class="icon ozone"></div>
      <div class="text">
        <b>Без озона</b><br>
        не нужно проветривать
      </div>
    </div>
    <div class="advantages__items-single">
      <div class="icon remote"></div>
      <div class="text">
        <b>Дистанционное управление</b><br>
        и звуковые оповещения
      </div>
    </div>
    <div class="advantages__items-single">
      <div class="icon delay"></div>
      <div class="text">
        <b>Отложенный запуск</b><br>
        30 секунд
      </div>
    </div>
    <div class="advantages__items-single">
      <div class="icon handy"></div>
      <div class="text">
        <b>Удобная ручка</b> для переноса и<br>
        подвешивания
      </div>
    </div>
  </div>
  <div class="advantages__content">
    <div class="content__left">
      <div class="title">
        <span>Обеззараживание <br>помещения</span><br> в присутствии <br>людей
      </div>
      <div class="text">
        Ультрафиолетовое излучение с длиной волны 253,7 Нм разрушает ДНК и РНК вредоносных микроорганизмов. Рядом с работающим экранированным рециркулятором <b>безопасно находится людям, животным и растениям.</b>
      </div>
    </div>
    <div class="swiper-container content__middle">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../img/advantages.jpg" alt=""></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="content__right">
      <div class="content__right-items">
        <div class="item">
          <b>Комнаты</b><br>
          в квартирах и домах
        </div>
        <div class="item">
          <b>Офисные помещения</b><br>
          кабинеты, ресепшн
        </div>
        <div class="item">
          <b>Медицинские заведения</b><br>
          стоматологии, салоны красоты
        </div>
        <div class="item">
          <b>Учебные заведения</b><br>
          школы, детские садики
        </div>
        <div class="item">
          <b>Коммерческие помещения</b><br>
          в сфере услуг и торговли
        </div>
        <div class="item">
          <b>Любые помещения</b><br>
          в сфере услуг и торговли
        </div>
        <div class="item">
          <b>Гостиничные номера</b>
        </div>
      </div>
    </div>
  </div>
</section>
