<section class="chars">
  <div class="chars__content">
    <div class="title">Характеристики <br><span>Модель LF-ZBAP001</span></div>
    <div class="table">
      <div class="table__row">
        <div class="table__row-item"><span class="text">Ресурс работы УФ-лампы</span></div>
        <div class="table__row-item"><span class="text">8000 часов, затем лампу нужно заменить</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Напряжение</span></div>
        <div class="table__row-item"><span class="text">220 В</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Мощность</span></div>
        <div class="table__row-item"><span class="text">40 Вт</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Частота</span></div>
        <div class="table__row-item"><span class="text">50/60 Гц</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Вес</span></div>
        <div class="table__row-item"><span class="text">1,4 кг, с упаковкой - 2 кг</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Габариты</span></div>
        <div class="table__row-item"><span class="text">20х20х40 см</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Уровень шума</span></div>
        <div class="table__row-item"><span class="text">не более 40 Дб</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Таймер</span></div>
        <div class="table__row-item"><span class="text">30 / 60 / 120 минут + 24/7</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Задержка пуска</span></div>
        <div class="table__row-item"><span class="text">30 секунд</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Материал корпуса</span></div>
        <div class="table__row-item"><span class="text">металл, пластик черного цвета</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Производительность по потоку</span></div>
        <div class="table__row-item"><span class="text">не менее 30 куб.м / час</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Длина УФ-волны</span></div>
        <div class="table__row-item"><span class="text">253,7 Нм</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Дистанционное управление</span></div>
        <div class="table__row-item"><span class="text">Есть, работает из другой комнаты даже при закрытых дверях</span></div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Сертификация</span></div>
        <div class="table__row-item"><span class="text">Сертификат государственной системы сертификации продукции УкрСЕПРО.</span>
          <a href="../../static/certificate.jpg" target="_blank" class="text__link">
            <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="24" fill="#F5F3F6"/><path d="M30 30H18m6-3V15m0 12l3.5-3.5M24 27l-3.5-3.5" stroke="#2B2B2B" stroke-width="2"/></svg>
          </a>
        </div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Инструкция</span></div>
        <div class="table__row-item">
          <a href="../../static/certificate.pdf" target="_blank" class="text__link">
            <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="24" fill="#F5F3F6"/><path d="M30 30H18m6-3V15m0 12l3.5-3.5M24 27l-3.5-3.5" stroke="#2B2B2B" stroke-width="2"/></svg>
          </a>
        </div>
      </div>

      <div class="table__row">
        <div class="table__row-item"><span class="text">Гарантия</span></div>
        <div class="table__row-item"><span class="text">1 год</span></div>
      </div>
    </div>
  </div>
</section>
