<footer class="footer">
  <div class="footer__top">
    <div class="footer__top-content">
      <div class="content-left">
        <div class="content-left__item">
          <img src="../../img/logo.svg" alt="logo" class="logo">
          <div class="text">
            ТОВ «Лед Фактор» <br>15 лет на рынке Украины
          </div>
          <div class="wallets">
            <div class="text">
              Принимаем к оплате
            </div>
            <div class="wallets__icons">
              <img src="../../img/mc.svg" alt="mastercard">
              <img src="../../img/visa.svg" alt="visa" class="wallets__icons-visa">
            </div>
          </div>
        </div>
        <div class="content-left__item">
          <div class="text">Будем рады ответить <br>на ваши вопросы</div>
          <div class="phones">
            <a href="tel:068 300 0057" class="link">068 300 0057</a>
            <a href="tel:093 427 6888" class="link">093 427 6888</a>
          </div>
          <div class="text">Адрес</div>
          <a href="https://goo.gl/maps/qDTiC5NFQTDDTYff7" target="_blank" class="link">Киев, ул. Вербовая, 59 <br>ст. м. Почайна</a>
        </div>
      </div>
      <div class="content-right">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4269.296571798442!2d30.487783531704284!3d50.486926719051404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdfb451fdf6d%3A0xe1771a3a8b32c235!2z0LLRg9C7LiDQktC10YDQsdC-0LLQsCwgNTksINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1598509973750!5m2!1sru!2sua" width="100%" height="402" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-content">
      <div class="content__copyright">
        2020. <br>Все права защищены
      </div>
      <a href="http://industrialmedia.com.ua/" target="_blank" class="content__madeBy">
        <svg width="153" height="40" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 153 40">
          <path fill-rule="evenodd" clip-rule="evenodd" class="shield"
                d="M130.862 0C143.076 0 153 9.905 153 22.095c0 6.803-3.053 12.844-7.906 16.925l-3.544-4.245c3.598-3.047 5.943-7.564 5.943-12.68 0-9.143-7.416-16.544-16.576-16.544-5.125 0-9.651 2.286-12.705 5.932l-4.253-3.537C117.994 3.048 124.047 0 130.862 0z"
                fill="#333"/>
          <path fill-rule="evenodd" clip-rule="evenodd" class="cog"
                d="M130.862 8.272c7.634 0 13.796 6.15 13.796 13.769 0 5.714-3.49 10.612-8.397 12.68l-1.036 4.68a19.853 19.853 0 01-5.671.49L127.7 35.43a16.923 16.923 0 01-3.163-1.143l-4.307 2.231c-1.527-1.143-2.89-2.449-3.981-4.027l2.236-4.245a14.465 14.465 0 01-1.145-3.157l-4.471-1.85c-.109-1.905.054-3.81.491-5.66l4.689-1.034c2.181-4.843 7.088-8.272 12.813-8.272zm0 5.497c-4.58 0-8.288 3.7-8.288 8.272 0 4.571 3.708 8.272 8.288 8.272 4.581 0 8.288-3.7 8.288-8.272s-3.707-8.272-8.288-8.272z"
                fill="#333"/>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M130.862 27.537c3.054 0 5.508-2.503 5.508-5.496 0-3.048-2.509-5.497-5.508-5.497-2.998 0-5.507 2.504-5.507 5.497-.054 3.047 2.454 5.496 5.507 5.496zM58.18 18.776c0 1.142.435 2.122 1.199 2.884a3.996 3.996 0 002.89 1.197h1.363v-2.72h-1.363c-.382 0-.71-.164-.982-.382-.272-.272-.381-.598-.381-.98V14.15h2.726v-2.721h-2.726V9.252h-2.727v2.177h-1.363v2.72h1.363v4.627zM95.966 18.776a3.98 3.98 0 001.2 2.884 3.996 3.996 0 002.889 1.197h1.363v-2.72h-1.363c-.381 0-.709-.164-.981-.382-.273-.272-.382-.598-.382-.98V9.253h-2.726v9.524z"
                fill="#333"/>
          <path d="M2.726 11.429H0v11.428h2.726V11.43z" fill="#333"/>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M15.922 16.599v6.258h-2.727V16.6c0-.653-.272-1.306-.709-1.742a2.428 2.428 0 00-1.744-.707c-.655 0-1.309.272-1.745.707a2.385 2.385 0 00-.71 1.687v6.313H5.563V11.43h2.726v.598a5.274 5.274 0 012.454-.598c1.417 0 2.726.598 3.653 1.523.927.925 1.527 2.177 1.527 3.647z"
                fill="#333"/>
          <path d="M79.063 11.429h-2.727v11.428h2.727V11.43z" fill="#333"/>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M66.522 11.429h2.726v.87a5.68 5.68 0 012.999-.87h1.363v2.72h-1.363c-.818 0-1.581.327-2.127.871a2.875 2.875 0 00-.872 2.068v5.77h-2.726v-11.43zM27.1 9.252h2.726v13.605h-2.727v-.87a5.68 5.68 0 01-2.998.87 5.692 5.692 0 01-4.035-1.687c-1.036-1.034-1.69-2.449-1.69-4.027 0-1.578.654-2.993 1.69-4.027a5.692 5.692 0 014.035-1.687 5.68 5.68 0 012.998.87V9.252zm0 7.89v-.054c0-.816-.328-1.523-.873-2.068a3.013 3.013 0 00-2.127-.87c-.817 0-1.58.326-2.126.87a3.001 3.001 0 00-.872 2.123c0 .816.327 1.578.872 2.122.545.544 1.309.871 2.127.871.817 0 1.58-.326 2.126-.87a3.001 3.001 0 00.872-2.123zM90.513 11.429h2.727v11.428h-2.727v-.87a5.68 5.68 0 01-2.999.87 5.692 5.692 0 01-4.035-1.687c-1.036-1.034-1.69-2.449-1.69-4.027 0-1.578.654-2.993 1.69-4.027a5.693 5.693 0 014.035-1.687 5.68 5.68 0 013 .87v-.87zm0 5.714v-.055c0-.816-.327-1.523-.872-2.068a3.013 3.013 0 00-2.127-.87c-.818 0-1.581.326-2.126.87a3.002 3.002 0 00-.873 2.123c0 .816.328 1.578.873 2.122.545.544 1.308.871 2.126.871.818 0 1.582-.326 2.127-.87a3.002 3.002 0 00.872-2.123zM35.333 17.687c0 .653.273 1.306.709 1.741a2.428 2.428 0 001.744.708c.655 0 1.31-.272 1.745-.707a2.418 2.418 0 00.71-1.742V11.43h2.726v6.258c0 1.415-.6 2.721-1.527 3.646a5.202 5.202 0 01-3.654 1.524 5.202 5.202 0 01-3.653-1.524 5.182 5.182 0 01-1.527-3.646V11.43h2.727v6.258zM51.909 15.782h-2.727c-.218 0-.436-.108-.6-.217-.163-.164-.217-.327-.217-.599 0-.218.109-.435.218-.599.163-.163.327-.217.6-.217h4.252v-2.721h-4.253c-.981 0-1.853.38-2.508 1.034a3.49 3.49 0 00-1.036 2.503c0 .98.382 1.85 1.036 2.503a3.504 3.504 0 002.508 1.034h2.727c.218 0 .436.11.6.218.163.163.218.327.218.599 0 .217-.11.435-.218.598-.164.164-.328.218-.6.218h-5.453v2.721h5.453c.981 0 1.854-.38 2.508-1.034a3.49 3.49 0 001.036-2.503c0-.98-.382-1.85-1.036-2.504a3.504 3.504 0 00-2.508-1.034z"
                fill="#333"/>
          <path d="M85.115 28.571H82.39V40h2.726V28.571z" fill="#333"/>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M76.336 26.395h2.727V40h-2.727v-.87a5.679 5.679 0 01-2.998.87 5.692 5.692 0 01-4.035-1.687c-1.036-1.034-1.69-2.45-1.69-4.027 0-1.578.654-2.994 1.69-4.027a5.692 5.692 0 014.035-1.688c1.09 0 2.126.327 2.998.871v-3.047zm0 7.89v-.054c0-.816-.327-1.523-.872-2.068a3.013 3.013 0 00-2.126-.87c-.818 0-1.582.326-2.127.87a3.001 3.001 0 00-.872 2.123c0 .816.327 1.578.872 2.122.545.544 1.309.87 2.127.87.817 0 1.58-.326 2.126-.87a3.001 3.001 0 00.872-2.122zM96.347 28.571h2.727V40h-2.727v-.87a5.68 5.68 0 01-2.998.87 5.693 5.693 0 01-4.035-1.687c-1.036-1.034-1.69-2.45-1.69-4.027 0-1.578.654-2.994 1.69-4.027a5.693 5.693 0 014.035-1.688 5.68 5.68 0 012.998.871v-.87zm0 5.715v-.055c0-.816-.327-1.523-.872-2.068a3.013 3.013 0 00-2.126-.87c-.818 0-1.582.326-2.127.87a3.001 3.001 0 00-.872 2.123c0 .816.327 1.578.872 2.122.545.544 1.309.87 2.127.87.817 0 1.58-.326 2.126-.87a3.001 3.001 0 00.873-2.122zM35.387 28.571h2.727v.436a4.656 4.656 0 011.908-.436c1.254 0 2.454.545 3.272 1.361a4.713 4.713 0 013.271-1.36c1.254 0 2.454.544 3.272 1.36a4.696 4.696 0 011.363 3.265V40h-2.726v-6.803c0-.544-.218-.98-.546-1.36a1.939 1.939 0 00-1.363-.544c-.545 0-.981.217-1.363.544a1.931 1.931 0 00-.545 1.36V40H41.93v-6.803c0-.544-.219-.98-.546-1.36a1.939 1.939 0 00-1.363-.544c-.545 0-.981.217-1.363.544a1.898 1.898 0 00-.545 1.306V40h-2.727V28.571zM53.98 40h10.906v-2.449H53.981V40zm0-8.925h10.906v-2.45H53.981v2.45zm0 4.462h10.906v-2.449H53.981v2.45z"
                fill="#333"/>
        </svg>
      </a>
    </div>
  </div>
</footer>
