<section class="introduction">
  <header class="header">
    <a href="/" class="header__logo"><img src="../../img/logo.svg" alt="logo"></a>
    <div class="header__phones">
      <button class="header__phones-toggler">
        <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="24" fill="#F7DB30"/><path d="M26.781 31.934c-2.542-.347-4.815-1.388-7.071-3.644-2.256-2.256-3.297-4.53-3.644-7.071-.27-1.985.304-3.124 1.447-4.266 1.142-1.143 2.277-1.15 2.841-.586.46.459.914 1.671 1.368 3.023a1.608 1.608 0 01-.396 1.645l-.873.873c-.433.433-.592 1.074-.307 1.607a10.97 10.97 0 001.849 2.49 10.97 10.97 0 002.49 1.85c.533.284 1.174.125 1.607-.308l.873-.873a1.608 1.608 0 011.645-.396c1.352.454 2.564.908 3.023 1.367.564.564.557 1.7-.586 2.842-1.142 1.143-2.281 1.718-4.266 1.447z" fill="#333"/></svg>
      </button>
      <div class="header__phones-items">
        <a href="tel:068 300 0057" class="link">068 300 0057</a>
        <a href="tel:093 427 6888" class="link">093 427 6888 </a>
      </div>
    </div>
  </header>
  <div class="introduction__content">
    <div class="introduction__content-left">
      <div class="subtitle">
        Бактерицидный
      </div>
      <div class="title">
        Ультрафиолетовый (UV) <br>рециркулятор-облучатель
      </div>
      <div class="promo">
        <div class="promo__description">
          <del>4 300</del> <sub>грн</sub> -15%
        </div>
        <div class="promo__price">
          <div class="promo__price-number">
            3 650 <sub>грн</sub>
          </div>
          <div class="promo__price-btn">
            <div class="add-to-cart">
              <input type="submit" class="node-add-to-cart" value="Заказать">
            </div>
            <!--[add-to-cart:627]-->
          </div>
        </div>
        <div class="promo__icons">
          <img src="../../img/intro-icon1.png" alt="">
          <img src="../../img/intro-icon2.png" alt="">
          <img src="../../img/intro-icon3.png" alt="">
          <img src="../../img/intro-icon4.png" alt="">
        </div>
      </div>
    </div>
    <div class="introduction__content-right">
      <img src="../../img/introduction.png" alt="introduction">
      <a data-fancybox="" href="https://www.youtube.com/watch?v=Rd70u6upbAA" class="link">
        <span class="link__icon"><svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="24" fill="#F7DB30"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.16 17.28l10.56 6.96-10.56 6.96V17.28z" fill="#333"/></svg></span>
        <span class="link__text">Смотреть <br>видео</span>
      </a>
    </div>
  </div>
</section>
