<section class="minor-info">
  <div class="minor-info__content">
    <div class="content-left">
      <div class="title">
        Эффективная <br>УФ-стерилизация <br><span>поверхностей до 60 м²</span>
      </div>
      <div class="table">
        <div class="table-col">
          <div class="table-col__title">Площадь</div>
          <div class="table-col__title">Время работы</div>
        </div>
        <div class="table-col">
          <div class="table-col__text">до 20 м²</div>
          <div class="table-col__text">30 минут</div>
        </div>
        <div class="table-col">
          <div class="table-col__text">20-40 м²</div>
          <div class="table-col__text">1 час</div>
        </div>
        <div class="table-col">
          <div class="table-col__text">40-60 м²</div>
          <div class="table-col__text">2 часа</div>
        </div>
        <div class="table-col">
          <div class="table-col__text">более 60 м²</div>
          <div class="table-col__text">24/4</div>
        </div>
      </div>
      <div class="description">
        Для помещений большой площади мы рекомендуем использовать один рециркулятор на каждые 60 кв.м.
      </div>
    </div>
    <div class="content-right">
      @@include('promotion--mini.html', {
        "title": "Один прибор <br>для всего дома",
        "btn": "Заказать"
        })
    </div>
  </div>
</section>
