<section class="minor-info minor-info--advantages">
  <div class="minor-info__content">
    <div class="content-left">
      <div class="title">
        Заказывайте <span>бактерицидный ультрафиолетовый <br>рециркулятор UVC 254 nm</span>
      </div>
      <div class="minor-info__advantages">
        <div class="minor-info__advantages-item">
          <div class="icon shield"></div>
          <div class="text">
            <b>Гарантия 1 год</b><br>
            Ремонтируем/заменяем
            в течение 2-4 дней. Сохраните упаковку и чек.
          </div>
        </div>
        <div class="minor-info__advantages-item">
          <div class="icon delivery"></div>
          <div class="text">
            <b>Доставка</b><br>
            в любой город Украины в течение 2-3- дней
          </div>
        </div>
        <div class="minor-info__advantages-item">
          <div class="icon payment"></div>
          <div class="text">
            <b>Оплата</b><br>
            картой, банковский перевод, наложенный платеж
          </div>
        </div>
      </div>
    </div>
    <div class="content-right">
      @@include('promotion--mini.html', {
      "title": "Успейте заказать со скидкой 15% <br><span>количество ограничено</span>",
      "btn": "Заказать"
      })
    </div>
  </div>
</section>
