<div class="promotion--mini">
  <div class="title">@@title</div>
  <div class="link">
    <div class="add-to-cart">
      <input type="submit" class="node-add-to-cart" value="@@btn">
    </div>
    <!--[add-to-cart:627]-->
  </div>
</div>
