<section class="promotion">
  <div class="promotion__content">
    <div class="content-left">
      <div class="title">
        Акция!
      </div>
      <div class="description">
        Покупайте UV рециркулятор-облучатель со скидкой -15% и получите дополнительную скидку на сменную УФ-лампу
      </div>
    </div>
    <div class="content-right swiper-container">
      <div class="content-right__wrapper swiper-wrapper">
        <div class="promotion-item swiper-slide">
          <div class="promotion-item__img">
            <img src="../../img/promotion-item1.png" alt="" class="img">
            <div class="pin">-15%</div>
          </div>
          <div class="promotion-item__price promotion-item__price--old"><del>4 300</del> <sub>грн</sub></div>
          <div class="promotion-item__price">3 650 <sub>грн</sub></div>
        </div>
        <div class="promotion-symbol swiper-slide promotion-symbol--plus">+</div>
        <div class="promotion-item swiper-slide">
          <div class="promotion-item__img">
            <img src="../../img/promotion-item2.png" alt="" class="img">
            <div class="pin">-15%</div>
          </div>
          <div class="promotion-item__price promotion-item__price--old"><del>520</del> <sub>грн</sub></div>
          <div class="promotion-item__price">442 <sub>грн</sub></div>
        </div>
        <div class="promotion-symbol swiper-slide promotion-symbol--equal">=</div>
        <div class="promotion-result swiper-slide">
          <div class="promotion-result__subtitle"><del>4 820</del> <sub>грн</sub></div>
          <div class="promotion-result__title">4092 <sub>грн</sub></div>
          <div class="promotion-result__description">728 грн экономии!</div>
          <div class="link">
            <div class="add-to-cart">
              <input type="submit" class="node-add-to-cart" value="Заказать">
            </div>
            <!--[add-to-cart:629]-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
