<section class="sliders">
  <div class="sliders__content">
    <div class="title">
      Одна лампа <span>— <br>три режима работы</span>
    </div>
    <div class="sliders__item sliders__item--first">
      <div class="number">01</div>
      <div class="text">
        <div class="text__title">
          Рециркулятор
        </div>
        <div class="text__subtitle">
          УФ-лампа закрыта (экранирована)
        </div>
        <div class="text__description">
          При экранированном режиме использования, воздух подается в закрытый корпус прибора при помощи вентилятора,
          обеззараживается УФ-лампой и выходит на 99% очищенным от микробов и вирусов.
        </div>
        <ul class="text__list">
          <li class="great list-item">Обеззараживает воздушную среду</li>
          <li class="worst list-item">Не обеззараживает поверхности</li>
          <li class="great list-item">Можно находится рядом с работающей лампой</li>
        </ul>
      </div>
      <div class="swiper-container slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../../img/sliders/1-1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="../../img/sliders/1-2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="../../img/sliders/1-3.jpg" alt=""></div>
          <div class="swiper-slide"><img src="../../img/sliders/1-4.jpg" alt=""></div>
        </div>
        <!-- Add Arrows -->
        <div class="slider-nav">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>

    <div class="sliders__item sliders__item--second">
      <div class="number">02</div>
      <div class="text">
        <div class="text__title">
          Облучатель
        </div>
        <div class="text__subtitle">
          Экраны УФ-лампы открыты
        </div>
        <div class="text__description">
          В открытом режиме облучатель дезинфицирует не только воздух, но и поверхности. При открытых экранах лампа
          будет обеззараживать все пространство вокруг на 360°. Включается из другой комнаты с пульта.
        </div>
        <ul class="text__list">
          <li class="great list-item">Обеззараживает воздушную среду</li>
          <li class="great list-item">Обеззараживает поверхности и вещи</li>
          <li class="worst list-item">Рядом с работающей лампой находится нельзя</li>
        </ul>
      </div>
      <div class="swiper-container slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../../img/sliders/2-1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="../../img/sliders/2-2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="../../img/sliders/2-3.jpg" alt=""></div>
          <div class="swiper-slide"><img src="../../img/sliders/2-4.jpg" alt=""></div>
        </div>
        <!-- Add Arrows -->
        <div class="slider-nav">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>

    <div class="sliders__item sliders__item--third">
      <div class="number">03</div>
      <div class="text">
        <div class="text__title">
          Комбинированный режим
        </div>
        <div class="text__subtitle">
          Открыты 1-2-3 экрана УФ-лампы
        </div>
        <div class="text__description">
          В комбинированном режиме облучатель дезинфицирует и воздух, и выбранные зоны. Если вы хотите обработать
          конкретный участок помещения, то можно открыть 1 или 2 экрана. Угол обеззараживания – 120° или 240°.
        </div>
        <ul class="text__list">
          <li class="great list-item">Обеззараживает воздушную среду</li>
          <li class="great list-item">Обеззараживает поверхности и вещи в зоне попадания света</li>
          <li class="great list-item">Можно находится рядом с работающей лампой, но ни в коем случае не в зоне облучения</li>
        </ul>
      </div>
      <div class="swiper-container slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../../img/sliders/3-1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="../../img/sliders/3-2.jpg" alt=""></div>
        </div>
        <!-- Add Arrows -->
        <div class="slider-nav">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>
