.advantages
  +media((margin: (320: rem(64) 0 rem(80), 1200: rem(160) 0)))
  display: grid
  +media((grid-template-columns: (320: 1fr 1fr 6fr 1fr 1fr, 576: 1fr 8fr 1fr, 1200: 1fr rem(1152) 1fr, 1920: 1fr 3fr 1fr)))
  +media((grid-row-gap: (320: rem(80), 1200: rem(145))))
  &__items
    +media((grid-column-start: (320: 3, 576: 2)))
    display: grid
    +media((grid-template-columns: (320: 1fr, 576: repeat(2, 1fr), 768: repeat(3, 1fr))))
    +media((grid-row-gap: (320: rem(48), 1200: rem(80))))
    &-single
      +media((padding-right: (320: 0, 576: rem(38), 768: rem(24), 1200: rem(55))))
      display: flex
      +media((flex-direction: (320: column, 1200: row)))
      +media((align-items: (320: flex-start, 1200: center)))
      .icon
        margin-right: rem(32)
        +media((margin-bottom: (320: rem(24), 1200: 0)))
        &.virus
          @extend virus
        &.mode
          @extend mode
        &.ozone
          @extend ozone
        &.remote
          @extend remote
        &.delay
          @extend delay
        &.handy
          @extend handy
      .text
        @extend .common-text
        color: $light-black
  &__content
    +media((grid-column: (320: '2 / 5', 576: '2 / 3')))
    display: grid
    +media((grid-template-columns: (320: 1fr, 768: 1fr 1fr, 1200: 4fr rem(96) rem(288) 1fr 3fr)))
    .content
      &__left, &__middle, &__right
        +media((grid-row-start: (320: unset, 1200: 1)))
      &__left
        +media((grid-column: (320: '1 / 2', 768: '1 / 3')))
        z-index: 3
        .title
          +media((grid-column: (320: '1 / 2', 1200: '1 / 3')))
          @extend .major-title
          color: #2B2B2B
          +media((margin: (320: 0 0 rem(48), 1200: rem(80) 0)))
          span
            color: $grey
        .text
          grid-column: 1 / 2
          @extend .common-text
          +media((max-width: (320: unset, 1200: calc(100% / 5 * 3))))
          color: $light-black
          +media((margin-bottom: (320: rem(40), 1200: 0)))
      &__middle
        +media((grid-column: (320: '1 / 2', 1200: '2 / 4')))
        position: relative
        +media((width: (320: 80vw, 768: 40vw, 1200: 100%)))
        &:before
          content: ""
          position: absolute
          left: 0
          top: 0
          background: $white
          width: rem(96)
          height: rem(194)
          z-index: 2
          +media((display: (320: none, 1200: block)))
        img
          max-width: 100%
          margin: auto
          display: block
          object-fit: cover
        .swiper-pagination-bullets
          max-width: rem(384)
          margin: auto
          right: 0
          z-index: 3
          box-sizing: border-box
          text-align: right
          +media((padding-right: (320: rem(6), 400: rem(8), 1200: rem(24))))
          +media((bottom: (320: rem(12), 400: rem(16), 1200: rem(32))))
          .swiper-pagination-bullet
            +media((height: (320: rem(12), 400: rem(16))))
            +media((width: (320: rem(12), 400: rem(16))))
            +media((margin: (320: 0 rem(6), 400: 0 rem(8))))
            background: $white
            opacity: 1
            transition: .5s
            &:hover
              background: $yellow-hover
            &-active
              background: $yellow
      &__right
        +media((grid-column: (320: '1 / 2', 768: '2 / 3', 1200: '5 / 6')))
        display: flex
        flex-direction: column
        justify-content: center
        +media((margin-top: (320: rem(40), 768: 0)))
        +media((padding-left: (768: rem(48), 1200: 0)))
        &-items
          .item
            @extend .common-text
            line-height: 150%
            color: #808080
            &:not(:last-child)
              +media((margin-bottom: (320: rem(16), 1200: rem(24))))
            b
              color: #4C4C4C
              font-weight: 900
