.blockOverlay
  cursor: auto!important
.blockMsg
  border: none!important
  top: 50% !important
  left: 50% !important
  transform: translate(-50%, -50%)
  width: rem(400) !important
  max-width: 90vw!important
  margin: auto!important
  cursor: auto!important
  .message-blockUI
    cursor: auto!important
    .close
      position: absolute
      right: 0
      top: 0
      height: rem(36)
      cursor: pointer
      width: rem(36)
      &:before, &:after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        height: rem(2)
        width: rem(20)
        background: $white
      &:before
        transform: translate(-50%, -50%) rotate(45deg)
      &:after
        transform: translate(-50%, -50%) rotate(-45deg)
      a
        font-size: 0
    background: linear-gradient(153.67deg,#1442cd 0,#233a7f 100%)
    +media((padding: (320: rem(24), 440: rem(64))))
    text-align: left
    .message-wrapp
      .messages
        &.status
          background: none
          border: none
          color: $white
          margin: 0
          padding: 0
          .message
            @extend .common-title
            margin-bottom: rem(48)
          .product-info
            display: flex
            align-items: center
            margin-bottom: rem(48)
            .title
              @extend .common-text
              padding-left: rem(24)
              font-size: rem(18)
              font-family: $main-font

    .buttons
      display: flex
      flex-direction: column
      align-items: flex-start
      .prodolzhit, .to-checkout a
        @extend .common-btn
        font-size: rem(14)
        text-decoration: none
        margin: rem(8) 0
