.chars
  +media((margin: (320: rem(80) 0, 1200: rem(160) 0)))
  display: grid
  +media((grid-template-columns: (320: 1fr 8fr 1fr, 1366: 1fr rem(960) 1fr, 1920: 1fr 5fr 1fr)))
  &__content
    grid-column-start: 2
    .title
      @extend .major-title
      color: #2B2B2B
      +media((margin-bottom: (320: rem(48), 1200: rem(74))))
      span
        color: $grey
    .table
      &__row
        &:not(:first-child)
          padding: rem(16) 0
        &:first-child
          padding: 0 0 rem(16)
        display: grid
        +media((grid-template-columns: (576: 1fr 1fr, 1200: 2fr 3fr)))
        +media((display: (320: flex, 576: grid)))
        flex-direction: column
        &-item
          @extend .common-text
          display: flex
          flex-direction: row
          justify-content: space-between
          &:first-child
            color: $grey
            font-weight: normal
            line-height: 147%
            align-items: flex-start
            +media((padding: (320: 0 0 rem(4), 576: 0 rem(20) 0 0)))
          &:last-child
            align-items: center
            .text
              +media((max-width: (320: calc(100% - 64px), 1200: 75%)))
              &__link
                margin-left: auto
                svg
                  circle
                    transition: .5s
                &:hover
                  svg
                    circle
                      fill: $yellow-hover
        &:not(:last-child)
          box-shadow: inset 0 rem(-2) 0 #F2F2F2
