.footer
  +media((margin-top: (320: rem(80), 1200: rem(160))))
  &__top, &__bottom
    display: grid
  &__top
    +media((grid-template-columns: (320: 1fr, 1200: 1fr rem(1152) 1fr, 1920: 1fr 3fr 1fr)))
    +media((background: (320: radial-gradient(172.12% 101.25% at 0% 0%, #1442CD 0%, #233A7F 100%), 1200: radial-gradient(133.54% 741.04% at 1.15% 0%, #1442CD 10.92%, #233A7F 100%))))
    &-content
      display: grid
      +media((grid-column-start: (320: 1, 1200: 2)))
      +media((grid-template-columns: (320: 1fr, 768: 1fr 1fr, 1200: 1fr 1fr)))
      .content
        &-left
          +media((margin: (320: rem(64) 0, 1200: 0)))
          display: grid
          +media((grid-template-columns: (320: 1fr 3fr 1fr, 576: 1fr 3fr 1fr 3fr 1fr, 768: 1fr 3fr 1fr, 1200: repeat(2, rem(200) 1fr))))
          &__item
            +media((padding: (320: 0, 1200: rem(80) 0)))
            +media((grid-column-start: (320: 2, 1200: unset)))
            &:nth-child(2)
              +media((grid-column-start: (320: 2, 576: 4, 768: 2, 1200: 3)))
            .logo
              margin-bottom: rem(12)
            .text
              @extend .common-text
              +media((line-height: (320: 146.28%, 1200: 127%)))
              color: #7083E5
              +media((margin-bottom: (320: rem(16), 1200: rem(20))))
            .wallets
              +media((margin: (320: rem(32) 0, 1200: rem(44) 0 0)))
              &__icons
                display: flex
                align-items: center
                &-visa
                  margin: rem(6) 0 0 rem(24)
            .phones
              display: flex
              flex-direction: column
              align-items: flex-start
              margin-bottom: rem(32)
            .link
              font-style: normal
              font-weight: bold
              font-size: rem(16)
              line-height: 146.28%
              color: $white
              text-decoration: none
              cursor: pointer
        &-right
          .map
            height: 100%
            iframe
              display: block
              height: 100%
              min-height: rem(402)
  &__bottom
    +media((grid-template-columns: (320: 1fr 8fr 1fr, 1366: 1fr rem(1152) 1fr, 1920: 1fr 3fr 1fr)))
    &-content
      grid-column-start: 2
      +media((min-height: (320: rem(74), 1200: rem(92))))
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      .content
        &__copyright
          @extend .common-text
          line-height: 147%
          +media((line-height: (320: 1.2, 400: 147%)))
          color: $black
        &__madeBy
          +media((max-width: (320: rem(120), 1200: unset)))
          display: block
          svg
            width: 100%
            height: auto
            path
              transition: .5s
          &:hover
            svg
              .cog
                fill: #1442cd
              .shield
                fill: $yellow
