.introduction
  +media((background: (320: radial-gradient(75.24% 44.26% at 69.38% 58.21%, #1442CD 0%, #233A7F 100%), 1200: radial-gradient(44.85% 126.63% at 66.02% 51.4%, #1442CD 0%, #233A7F 100%))))
  display: grid
  overflow-x: hidden
  overflow-y: hidden
  //grid-template-columns: 8fr 22fr 3fr 7fr
  // +media((grid-template-columns: (1366: 8fr rem(1056) rem(96) 7fr, 1920: 8fr 22fr 3fr 7fr)))
  +media((grid-template-columns: (320: 1fr 8fr 1fr, 1200: 8fr rem(1152) 7fr, 1366: 8fr rem(1210) 7fr)))
  .header
    grid-column-start: 2
    display: flex
    align-items: center
    justify-content: space-between
    +media((padding: (320: rem(40) 0 0, 1200: rem(32) 0 rem(24))))
    z-index: 3
    &__phones
      display: flex
      align-items: center
      color: $white
      position: relative
      +media((width: (320: auto, 1200: rem(346))))
      &-toggler
        @extend .clear-btn
        +media((margin-right: (320: 0, 768: rem(16))))
        +media((pointer-events: (320: auto, 768: none)))
      &-items
        display: flex
        flex-direction: column
        +media((position: (320: absolute, 768: relative)))
        +media((min-width: (320: rem(150), 768: unset)))
        +media((background: (320: $white, 768: none)))
        +media((box-shadow: (320: 0 rem(2) rem(8) rgba(0, 0, 0, 0.25), 768: none)))
        +media((border-radius: (320: rem(4), 768: 0)))
        +media((padding: (320: rem(16) rem(24), 768: 0)))
        box-sizing: border-box
        +media((top: (320: calc(100% + 14px), 768: unset)))
        +media((right: (320: 0, 768: unset)))
        transition: .5s
        +media((opacity: (320: 0, 768: 1)))
        +media((pointer-events: (320: none, 768: auto)))
        +media((transform: (320: translateY(-10px), 768: none)))
        &.js--active
          transform: none
          opacity: 1
          pointer-events: auto
        &:before
          content: ""
          width: 0
          height: 0
          border-left: rem(6) solid transparent
          border-right: rem(6) solid transparent
          border-bottom: rem(6) solid $white
          position: absolute
          top: rem(-6)
          right: rem(18)
          +media((display: (320: block, 768: none)))
        .link
          color: $white
          +media((color: (320: #1442CD, 768: $white)))
          text-decoration: none
          font-style: normal
          font-weight: bold
          +media((font-size: (320: rem(14), 768: rem(16))))
          +media((line-height: (320: 150%, 768: 130%)))
  &__content
    grid-column-start: 2
    position: relative
    &-left
      display: inline-block
      +media((z-index: (768: 2)))
      position: relative
      color: $white
      .subtitle
        font-style: normal
        +media((font-weight: (320: normal, 1200: 300)))
        +media((font-size: (320: rem(16), 768: rem(24), 1200: rem(32))))
        line-height: 130%
        letter-spacing: 0.02em
        text-transform: uppercase
        +media((margin: (320: rem(44) 0 rem(4), 1200: rem(62) 0 0)))
        +media((color: (320:  #7083E5, 768: $white)))
      .title
        font-style: normal
        +media((font-size: (320: rem(24), 400: rem(31), 768: rem(32), 992: rem(48), 1200: rem(56))))
        +media((line-height: (320: 130%, 1200: 120%)))
        +media((font-weight: (320: 800, 1200: 900)))
        letter-spacing: -0.02em
        +media((margin-bottom: (320: rem(64), 1200: rem(80))))
        br
          +media((display: (320: none, 768: inline-block)))
      .promo
        display: inline-block
        &__description
          font-style: normal
          font-weight: bold
          +media((font-size: (320: rem(20), 1200: rem(24))))
          line-height: 130%
          letter-spacing: -0.02em
          color: #7083E5
          +media((margin-bottom: (320: 0, 1200: rem(12))))
          sub
            font-weight: 500
            font-size: rem(16)
            line-height: 130%
            bottom: 0
        &__price
          display: flex
          +media((align-items: (320: flex-start, 768: center)))
          +media((flex-direction: (320: column, 768: row)))
          align-items: center
          +media((margin-bottom: (320: rem(70), 768: rem(62))))
          &-number
            font-style: normal
            font-weight: bold
            +media((font-size: (320: rem(24), 400: rem(28), 768: rem(36), 1200: rem(40))))
            line-height: 130%
            letter-spacing: -0.02em
            color: $white
            +media((margin-right: (320: 0, 768: rem(32))))
            sub
              bottom: 0
              font-size: rem(24)
              font-weight: normal
          &-btn
            +media((margin-top: (320: rem(24), 768: 0)))
            .add-to-cart
              input.node-add-to-cart
                @extend .common-btn
        &__icons
          +media((margin-bottom: (320: rem(45), 768: rem(80))))

    &-right
      position: absolute
      pointer-events: none
      // +media((min-width: (320: rem(280), 400: rem(320), 768: rem(480), 1200: rem(680))))
      // +media((min-height: (320: rem(280), 400: rem(320), 768: rem(480), 1200: rem(680))))
      // display: flex
      +media((right: (320: calc(-10vw - 38px), 1200: 0)))
      +media((bottom: (320: rem(121), 768: 0)))
      z-index: 1
      img
        pointer-events: none
        // +media((max-width: (320: rem(150), 768: rem(280), 1200: rem(315))))
        // +media((max-height: (320: rem(250), 768: rem(400), 1200: rem(529))))
        object-fit: cover
        display: block
        // margin: auto auto rem(31)
        +media((width: (320: rem(280), 400: rem(320), 768: rem(480), 1200: rem(680))))
        +media((height: (320: rem(280), 400: rem(320), 768: rem(480), 1200: rem(680))))

        z-index: 2
      // &:before
        content: ""
        height: 100%
        width: 100%
        position: absolute
        left: 0
        top: 0
        background-image: radial-gradient(45.38% 45.38% at 50% 50%, #1DFFFF 0%, rgba(79, 64, 242, 0) 100%)
        // background-image: radial-gradient(circle farthest-corner at 29% 53%, transparent 10%, hsla(0, 0%, 100%, .9))
        z-index: 1
      .link
        pointer-events: auto
        position: absolute
        +media((bottom: (320: rem(53), 768: rem(96))))
        +media((left: (320: unset, 768: 50%)))
        +media((right: (320: calc(10vw + 38px), 768: unset)))
        +media((transform: (320: translateX(0), 768: translateX(-7.5px))))
        color: $white
        display: flex
        flex-direction: row
        align-items: center
        @extend .clear-btn
        font-style: normal
        font-weight: normal
        font-size: rem(14)
        z-index: 2
        line-height: 120%
        &__text
          +media((display: (320: none, 768: block)))
        &__icon
          +media((margin-right: (320: 0, 768: rem(24))))
          svg
            circle
              transition: .5s
        &:hover
          .link__icon
            svg
              circle
                fill: $yellow-hover
