.minor-info
  +media((margin: (320: rem(80) 0, 1200: rem(160) 0)))
  display: grid
  +media((grid-template-columns: (320: 1fr 8fr 1fr, 1366: 1fr rem(1152) 1fr, 1920: 1fr 3fr 1fr)))
  &--advantages
    .minor-info
      &__content
        .content
          &-left
            .title
              +media((margin-bottom: (320: rem(48), 1200: rem(66))))
  &__content
    grid-column-start: 2
    display: grid
    +media((grid-template-columns: (320: 1fr, 768: 6.5fr 0.5fr 5fr, 1200: 8fr 1fr 3fr)))
    .content
      &-left
        .title
          @extend .major-title
          color: #2B2B2B
          +media((margin-bottom: (320: rem(48), 1200: rem(80))))
          span
            color: $grey
        .table
          +media((margin: (320: rem(48) 0 rem(32), 1200: rem(80) 0 rem(48))))
          width: 100%
          display: grid
          +media((grid-template-columns: (320: 1fr, 1200: 1.2fr repeat(4, 1fr))))
          grid-column-gap: rem(24)
          &-col
            +media((display: (320: flex, 1200: block)))
            &:not(:last-child)
              +media((box-shadow: (320: inset 0 rem(-2) 0 #F2F2F2, 1200: inset rem(-2) 0 0 #F2F2F2)))
              +media((padding: (320: rem(16) 0, 1200: 0)))
            &:last-child
              +media((padding: (320: rem(16) 0 0, 1200: 0)))
            &:first-child
              +media((padding: (320: 0 0 rem(16), 1200: 0)))
            &__title, &__text
              +media((padding-right: (320: rem(16), 1200: 0)))
              @extend .common-text
              +media((width: (320: 50%, 1200: auto)))
              &:not(:last-child)
                +media((margin-bottom: (320: 0, 1200: rem(16))))
            &__text
              color: $light-black
            &__title
              color:  $grey
              font-weight: normal
              line-height: 147%
        .minor-info
          &__advantages
            +media((margin-bottom: (320: rem(48), 1200: 0)))
            display: grid
            +media((grid-template-columns: (320: 1fr 6fr 1fr, 768: 7fr 1fr, 1200: repeat(3, 1fr))))
            +media((grid-column-gap: (320: 0, 1200: rem(24), 1366: calc(100% / 8))))
            +media((grid-row-gap: (320: rem(48), 1200: 0)))
            &-item
              +media((grid-column-start: (320: 2, 768: 1, 1200: auto)))
              +media((display: (320: block, 768: flex, 1200: block)))
              .icon
                +media((margin: (320: 0 0 rem(24), 768: 0, 1200: 0 0 rem(32))))
                +media((min-width: (768: rem(56), 1200: unset)))
                &.shield
                  @extend shield
                &.delivery
                  @extend delivery
                &.payment
                  @extend payment
              .text
                @extend .common-text
                color: $light-black
        .description
          @extend .common-text
          color:  $grey
          line-height: 147%
          font-weight: normal
          +media((max-width: (320: rem(220), 500: unset)))
          +media((margin: (320: rem(32) 0 rem(48), 1200: rem(48) 0 0)))
      &-right
        +media((grid-column-start: (320: 1, 768: 3)))
        display: flex
        align-items: center
