.promotion
  +media((background: (320: radial-gradient(172.12% 101.25% at 0% 0%, #1442CD 0%, #233A7F 100%), 1200: radial-gradient(133.54% 741.04% at 1.15% 0%, #1442CD 10.92%, #233A7F 100%))))
  +media((margin: (320: rem(80) 0, 1200: rem(160) 0)))
  display: grid
  overflow-x: hidden
  +media((grid-template-columns: (320: 1fr, 768: 1fr 8fr 1fr, 1200: 1fr rem(1056) 1fr, 1366: 1fr rem(1152) 1fr, 1920: 1fr 3fr 1fr)))
  &__content
    width: 100%
    +media((grid-column-start: (320: 1, 768: 2)))
    display: grid
    grid-template-columns: 3fr 1fr 8fr
    +media((display: (320: flex, 1200: grid)))
    flex-direction: column
    //rem(80) calc(100vw / 5)
    +media((padding: (320: rem(80) 0, 1200: rem(128) 0)))
    .content
      &-left
        width: 100%
        box-sizing: border-box
        +media((padding: (320: 0 calc(100vw / 5), 768: 0)))
        .title
          @extend .major-title
          color: $white
          margin-bottom: rem(48)
        .description
          @extend .common-text
          color: #C4C9F4
          margin-top: rem(48)
      &-right
        grid-column-start: 3
        +media((width: (320: 100vw, 768: 100%)))
        overflow-x: auto
        +media((margin-top: (320: rem(40), 1200: 0)))
        &__wrapper
          display: grid
          +media((grid-template-columns: (320: repeat(2, rem(192) rem(96)) calc(192px + (100vw / 5)), 768: repeat(2, rem(180) rem(48)) rem(180), 860: repeat(2, 2fr 1fr) 2fr)))
          +media((padding: (320: 0 0 0 calc(100vw / 5), 768: 0)))
          box-sizing: border-box
        .promotion
          &-item
            &__img
              margin-bottom: rem(16)
              +media((height: (320: rem(192), 768: rem(180), 860: rem(192))))
              +media((width: (320: rem(192), 768: rem(180), 860: rem(192))))
              background: $white
              border-radius: 50%
              display: flex
              justify-content: center
              align-items: center
              //overflow: hidden
              position: relative
              .img
                border-radius: 50%
              .pin
                position: absolute
                background: linear-gradient(101.47deg, #F0BA18 11.74%, #E4AC00 112.5%)
                border-radius: rem(46)
                font-style: normal
                font-weight: bold
                font-size: rem(18)
                line-height: 138%
                color: $white
                padding: rem(4) rem(12)
                min-width: rem(69)
                min-height: rem(33)
                box-sizing: border-box
                display: flex
                justify-content: center
                align-items: center
                top: 0
                right: 0
            &__price
              font-style: normal
              font-weight: bold
              font-size: rem(24)
              line-height: 130%
              letter-spacing: -0.02em
              color: $white
              sub
                bottom: 0
                font-weight: normal
                font-size: rem(20)
                line-height: 130%
              &--old
                color: #7083E5
                font-size: rem(20)
                sub
                  font-size: rem(16)
          &-symbol
            height: rem(192)
            width: 100%
            font-style: normal
            font-weight: bold
            font-size: rem(40)
            line-height: 130%
            text-align: center
            letter-spacing: -0.02em
            color: $white
            display: flex
            align-items: center
            justify-content: center
          &-result
            padding-top: rem(39)
            // +media((padding-right: (320: calc(100vw / 5), 768: 0)))
            &__subtitle
              font-style: normal
              font-weight: bold
              font-size: rem(24)
              line-height: 130%
              letter-spacing: -0.02em
              color: #7083E5
              sub
                bottom: 0
                font-weight: normal
                font-size: rem(16)
            &__title
              font-style: normal
              font-weight: bold
              font-size: rem(40)
              line-height: 130%
              letter-spacing: -0.02em
              color: $white
              margin-bottom: rem(6)
              sub
                bottom: 0
                font-weight: normal
                font-size: rem(24)
            &__description
              font-style: normal
              font-weight: normal
              font-size: rem(20)
              line-height: 118%
              color: #7083E5
              margin-bottom: rem(32)
            .link
              // @extend .common-btn
              // max-width: rem(167)
              .add-to-cart
                input.node-add-to-cart
                  max-width: rem(167)
                  @extend .common-btn
