.promotion--mini
  +media((height: (1200: 100%)))
  width: 100%
  +media((background: (320: linear-gradient(120.99deg, #1442CD 0%, #233A7F 100%), 1200: linear-gradient(153.67deg, #1442CD 0%, #233A7F 100%))))
  display: flex
  flex-direction: column
  justify-content: center
  +media((padding: (320: rem(48), 400: rem(56), 1200: rem(48))))
  box-sizing: border-box
  max-width: rem(287)
  margin: auto
  .title
    @extend .common-title
    color: $white
    line-height: 117%
    font-weight: bold
    +media((margin-bottom: (320: rem(24), 1200: rem(40))))
    span
      color: #7083E5
  .link
    .add-to-cart
      input.node-add-to-cart
        @extend .common-btn
        max-width: rem(168)
.minor-info--advantages
  .promotion--mini
    +media((min-height: (320: unset, 1200: rem(478))))
