.sliders
  display: grid
  +media((margin: (320: rem(80) 0, 1200: rem(160) 0)))
  +media((grid-template-columns: (320: 1fr 8fr 1fr, 1200: 1fr rem(960) 1fr, 1920: 1fr 5fr 1fr)))
  &__content
    grid-column-start: 2
    .title
      @extend .major-title
      color: #2B2B2B
      +media((margin-bottom: (320: rem(48), 1200: rem(80))))
      span
        color: $grey
  &__item
    display: grid
    $t-s: 1fr
    $t-m: 5fr 6fr
    $t-l: 1fr 4fr 5fr
    +media((grid-template-columns: (320: $t-s, 768: $t-m, 992: $t-l)))
    // grid-template-columns: 1fr 4fr minmax(0, 5fr)
    +media((padding-bottom: (320: rem(40), 1200: 0)))
    position: relative
    &:not(:last-child)
      +media((margin-bottom: (320: rem(48), 1200: rem(128))))
      &:after
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: 0
        content: ""
        width: rem(192)
        height: rem(2)
        background: #F2F2F2
        +media((display: (320: block, 768: none)))
      .text
        &:after
          position: absolute
          left: 0
          bottom: 0
          content: ""
          width: rem(192)
          height: rem(2)
          background: #F2F2F2
          +media((display: (320: none, 768: block)))
    .number
      @extend .common-title
      color:  $grey
      +media((margin-bottom: (320: rem(8), 1200: 0)))
    .text
      position: relative
      +media((grid-column-start: (768: 1, 992: 2)))

      &__title
        @extend .common-title
        color: #2B2B2B
        margin-bottom: rem(8)
      &__subtitle
        @extend .common-text
        color:  $grey
        +media((max-width: (320: rem(220), 1200: unset)))
        +media((margin-bottom: (320: rem(24), 1200: rem(40))))
      &__description
        @extend .common-text
        color:  $light-black
        +media((margin-bottom: (320: rem(24), 1200: rem(32))))
      &__list
        list-style: none
        padding: 0
        +media((margin: (320: 0 0 rem(48), 1200: 0)))
        .list-item
          @extend .common-text
          padding-left: rem(40)
          position: relative
          color: #4D4D4D
          &:before
            content: ""
            position: absolute
            left: 0
            top: 0
          &.great
            &:before
              @extend great
          &.worst
            color: #808080
            &:before
              @extend worst
          &:not(:last-child)
            margin-bottom: rem(12)
    .slider
      +media((width: (320: 80vw, 768: calc(80vw / 11 * 6), 992: calc(40vw), 1200: rem(480), 1920: calc((100vw / 7 * 5) / 2))))
      .swiper-slide
        img
          max-width: 100%
          margin: auto
          display: block
      &-nav
        position: absolute
        top: 0
        right: 0
        display: grid
        grid-template-columns: 1fr
        +media((grid-row-gap: (320: rem(8), 1200: rem(16))))
        .swiper-button
          &-next, &-prev
            position: relative
            top: unset
            left: unset
            bottom: unset
            right: unset
            transform: none
            margin: 0
            width: rem(48)
            height: rem(48)
            border-radius: 50%
            transition: .5s
            background: $yellow
            color: #2B2B2B
            outline: none
            @media (any-hover: hover)
              &:hover
                background: #193FB1
                &:after
                  filter: invert(1)
            &:after
              content: ""
          &-next
            &:after
              @extend chevron-next
          &-prev
            &:after
              @extend chevron-prev
