%svg-common {
	background: url("../img/sprite-svg-9601cafc.svg") no-repeat;
}

chevron-next {
	@extend %svg-common;
	background-position: 0 0;
	width: 10px;
	height: 13px;
}

chevron-prev {
	@extend %svg-common;
	background-position: 0 2.4667931688804554%;
	width: 10px;
	height: 13px;
}

delay {
	@extend %svg-common;
	background-position: 0 5.295315682281059%;
	width: 49px;
	height: 49px;
}

delivery {
	@extend %svg-common;
	background-position: 0 15.49586776859504%;
	width: 54px;
	height: 56px;
}

great {
	@extend %svg-common;
	background-position: 0 25.486381322957197%;
	width: 26px;
	height: 26px;
}

handy {
	@extend %svg-common;
	background-position: 0 31.975560081466394%;
	width: 49px;
	height: 49px;
}

mode {
	@extend %svg-common;
	background-position: 0 41.955193482688394%;
	width: 49px;
	height: 49px;
}

ozone {
	@extend %svg-common;
	background-position: 0 51.93482688391039%;
	width: 49px;
	height: 49px;
}

payment {
	@extend %svg-common;
	background-position: 0 62.8099173553719%;
	width: 56px;
	height: 56px;
}

remote {
	@extend %svg-common;
	background-position: 0 73.31975560081466%;
	width: 49px;
	height: 49px;
}

shield {
	@extend %svg-common;
	background-position: 0 84.50413223140495%;
	width: 56px;
	height: 56px;
}

virus {
	@extend %svg-common;
	background-position: 0 94.70468431771894%;
	width: 49px;
	height: 49px;
}

worst {
	@extend %svg-common;
	background-position: 0 100%;
	width: 26px;
	height: 26px;
}

