@import "partial/setUps"


// +media((display: (320: none, 1280: flex)))
*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666
html, body
  // height: 100%
  // @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap')
html
  //overflow-x: hidden
    &::selection
    background: red
    color: #fff
body
  min-width: 320px
  position: relative
  line-height: 1.1
  overflow-x: hidden
  background: $white
  margin: 0
  font-family: 'Inter', sans-serif

.swiper-container
  width: 100%
  height: 100%
.clearfix
  &:after
    content: ""
    display: none
