$main-font: 'Inter', sans-serif
$white: #fff
$yellow: #F7DB30
$yellow-hover: #FFEE7D
$black: #333333
$light-black: #4D4D4D
$grey: #949494


.major
  &-title
    font-style: normal
    font-weight: bold
    +media((font-size: (320: rem(28), 400: rem(32), 1200: rem(48))))
    line-height: 117%
    letter-spacing: -0.02em

.clear-btn
  background: none
  box-shadow: none
  outline: none
  border: none
  border-radius: 0
  cursor: pointer
  padding: 0
  margin: 0
  display: flex
  text-decoration: none
.common
  &-btn
    @extend .clear-btn
    cursor: pointer
    text-decoration: none
    text-align: center
    background: $yellow
    transition: .5s
    color: $black
    text-transform: uppercase
    font-style: normal
    font-weight: bold
    +media((font-size: (320: rem(16), 1200: rem(18))))
    +media((line-height: (320: rem(19), 1200: rem(22))))
    letter-spacing: 0.02em
    border-radius: rem(3)
    +media((padding: (320: rem(16) rem(24), 1200: rem(17) rem(32))))
    justify-content: center
    display: flex
    align-items: center
    box-sizing: border-box
    &:hover
      background: $yellow-hover
  &-text
    font-style: normal
    font-weight: normal
    font-size: rem(16)
    +media((font-size: (320: rem(14), 1200: rem(16))))
    line-height: 153%
  &-title
    font-style: normal
    font-weight: 800
    +media((font-size: (320: rem(24), 1200: rem(32))))
    line-height: 119%
    letter-spacing: -0.02em
